@model AssignWebApi.Models.POMASTERViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>POMASTER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SUPPLIER.SUPLNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPPLIER.SUPLNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PODATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PODATE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PONO.Trim() }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
